<%- include ("../partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/classroom/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<h2 id="title">YOUR CLASSROOMS</h2>

<div class="container" id="cont">
    <% classrooms.forEach((croom)=>{ %>
        <a href="/classroom/<%=croom.id%>">
        <div class="card">
            <div class="card-title"><%= croom.id %></div>
            <div class="subject">
                <%= croom.Name %>
            </div>
            <div class="img">
                <img class="imgclass" src="http://storage.googleapis.com/digitalcoursefile-efa96.appspot.com/course%2F<%=croom.courseID%>.jpeg">
            </div>
            <br>
            <p class="fac">Faculty: <%= croom.Faculty %> </p>
        </div>
        </a>
    <% }) %>
    

</div>

<%- include ("../partials/footer") %>