cdcd<%- include ("../partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users/studentProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<div>
    <img src="/images/picture3.jpg" width="350" height="450" style="float: right;">
</div>



<div class="d">
    <a class="p">VIEW PERSONAL DETAILS</a>
    <div class="p-content">
        <form >
            <div class="personal">
                <hr style="width: 25%; margin-left: 0; border: 1px solid black;">
                <label for="name" class="d">Name :</label>
                <%= profileInformation.Name %>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="dob" class="d">Date of birth :</label>
                <%= profileInformation.DOB %>
                <hr>
                <label for="email" class="e">Email :</label>
                <%= profileInformation.email %>
                <hr>
                <label for="address" class="d">Address :</label>
                <%= profileInformation.Address %>
                <label for="phn" class="d">Phone number :</label>
                <%= profileInformation.Phone %>
            </div>
            <hr style="border: 2px solid black;">
        </form>
    </div>
</div>

<hr style="width: 75%; text-align:left;margin-left:0">

<div class="d">
    <a class="p">VIEW PROFESSIONAL DETAILS</a>
    <div class="p-content">
        <form>
            <div class="academic">
                <hr style="width: 25%; margin-left: 0; border: 1px solid black;">
                <label for="dname" class="d">Depatment name :</label>
                <%= profileInformation.deptName %>
                <hr>
                <label for="rno" class="d">Designation :</label>
                <%= profileInformation.des %>
                <hr>
                <label for="cgpa" class="d">Qualification :</label>
                <%= profileInformation.qual %>
            </div>
            <hr style="border: 2px solid black;">
        </form>
    </div>
</div>

<hr style="width: 75%; text-align:left;margin-left:0">

<div class="container">
    <div class="btn-r"><a href="" class="btn">Change Password</a></div>
    <div class="btn-c"><a href="../faculty/profile/edit" class="btn">edit</a></div>
    <form action="/users/faculty/logout" method="POST">
        <div class="btn-l"><button type="submit" class="btn">Sign-out</button></div>
        </form>
</div>

<%- include ("../partials/footer") %>