<%- include ("../partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/course/courseInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<h1 id="title"> <%= course.courseID %> - <%= course.courseName %></h1>
<div id="aboutCourse">
    <div id="leftDiv">
        <img src="<%=imgURL%>" alt="image">
    </div>
    <div id="rightDiv">
        <h7><strong>Course ID - </strong><%= course.courseID %></h7> <br>
        <h7><strong>Course Name -</strong> <%= course.courseName %></h7> <br>
        <h7><strong>Credits -</strong> <%= course.credits %></h7> <br>
        <h7><strong>Department ID -</strong> <%= course.deptID %></h7> <br>
        <strong></strong>
    </div>
    
</div>

<div class = "container" id = "basicDocs">
    <div class = "doc">
        <div class= "preview">
            <% if(CO) { %>
                <a href="<%=url%>course/<%=course.courseID%>CO.pdf" target="_blank"><img src="/images/redirect.png" style="width: 70%; height: 70%; text-align: center;" alt="CO"></a>
            <% } else { %>
                <img src="/images/nodocimage.svg" alt="No Document Available">
            <% } %>
        </div>
        <div class = "aboutDoc">
            <strong>Course Objectives</strong>
        </div>
    </div>
    <div class = "doc">
        <div class= "preview">
            <img src="/images/nodocimage.svg" alt="No Document Available">
        </div>
        <div class = "aboutDoc">
            <strong>Course Plan</strong>
        </div>
    </div>
    <div class = "doc">
        <div class= "preview">
            <img src="/images/nodocimage.svg" alt="No Document Available">
        </div>
        <div class = "aboutDoc">
            <strong>Syllabus</strong>
        </div>
    </div>
</div>

<%- include ("../partials/footer") %>